.menu-item {
    margin: auto 5px;
    padding: 5px;

    width: fit-content;
    height: fit-content;

    &.active {
        font-weight: 400;
    }
    
    &:hover {
        cursor: pointer;
        border: 2px solid white;
        border-radius: 5px;
        padding-top: 3px;
        font-weight: 400;
    }
}