.menu-item {
    box-sizing: border-box;

    margin: auto 5px;
    padding: 3px;

    width: 80px;
    height: fit-content;

    text-align: center;

    &.active {
        font-weight: 400;
    }
    
    &:hover {
        cursor: pointer;
        
        padding-top: 3px;

        border: 1px solid white;
        border-radius: 5px;

        font-weight: 400;
    }
}